.logo{
  text-align: center;
  padding: 10px 10px;
}

.logo img{
  width: 200px;
}

.mat-icon{
  vertical-align: middle;
  margin-right: 1rem;
}
.mat-list-item-end {
  margin-top: 170%;
  width: 100%;
}

.sidebar-option:hover{
  background-color: #0093AB;
  color: white;
}


