<div class="container">
  <h1>Welcome Patient</h1>
  <div class="main-container">
    <h2>Your medical records</h2>
    <div class="options">
      <div *ngFor="let record of records" class="option-container">
        <img
          src="https://img.freepik.com/vector-gratis/doctor-examinando-paciente-clinica-ilustrada_23-2148856559.jpg"
          alt="doctors"
        />
        <p>Date: {{ record.date }}</p>
        <div class="record-container">
          <h2>Title: {{ record.appointmentDescription }}</h2>
          <p>Doctor: {{ record.doctor.name }}</p>
          <p>Description: {{ record.description }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
