.doctor-card-container{
  display: grid;
  margin: 2rem auto;
  gap: 2rem;
  width: 60%;
  grid-template-columns: 1fr 4fr 1fr;
  align-items: center;
  border: 3px solid #0093AB;
  padding: 1rem;
  border-radius: 5px;
  transition: transform .2s;
}
.doctor-card-container:hover {
  cursor: pointer;
  transform: scale(1.05);
}
span{
  font-weight: bold;
}
.user-photo{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid #0093AB;
}
.arrow{
  width: 20px;
}
.see-profile-container{
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  color: #0093AB;
  font-weight: bold;
  border-bottom: 1px solid #0093AB;
  transition: transform .2s;
}
.see-profile-container p {
  margin-bottom: 0;
}
.see-profile-container:hover {
  cursor: pointer;
  transform: scale(1.05);
}

@media (max-width: 480px) {
  .doctor-card-container {
    display: flex;
    flex-direction: column;
  }

}
