<div class="card-container">
<mat-card class="mat-card-z4">
  <img mat-card-image [src]="imageNews" alt="Photo of news">
  <mat-card-content>
    <mat-card-header>
      <mat-card-title>{{title}}</mat-card-title>
    </mat-card-header>
    <p>{{description}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>MORE</button>
    <a mat-button color="white"  target="_blank">
      <mat-icon>visibility</mat-icon>
      {{view}}
    </a>
  </mat-card-actions>
</mat-card>
</div>





