<div class="container">
  <h1>How would you like to log in?</h1>
  <div class="cards_container">
    <div class="card">
      <a [routerLink]="'/patientsLogIn'">
        <img class="card_image1" src="assets/images/patients.png">
      </a>
      <h2>Patient</h2>
    </div>

    <div class="card">
      <a [routerLink]="'/doctorsLogIn'">
        <img class="card_image" src="assets/images/doctors.png">
      </a>
      <h2>Health Professional</h2>
    </div>
  </div>

  <footer>
    <p>MediCare 2023 | All rights reserved</p>
    <p>Terms and Conditions </p>
  </footer>

</div>
