:host{
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-drawer{
  width: 260px;
  background: #E0E0E0;
}

mat-drawer-container{
  height: 100%;
}

h1{
  margin: 2rem 8rem;
  font-weight: bold;
  font-size: 30px;
}
