<div class="center-content">
  <mat-card class="example-card">

    <mat-card-content class="d-flex align-items-center justify-content-center">
      <mat-tab-group>
        <mat-tab label="Change Password">
          <br>
          <mat-card style="text-align: center"  class="example-card-content">
            <img mat-card-image width="300px" height="300px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSxovdOUlzqueide2qo-kCfq4RVgq5EkVS8OkVQssZNMLW0NXh-8DyfCezgLtILtqHbHMI&usqp=CAU" alt="Photo of a Shiba Inu">
            <mat-card-actions>
              <button style="background-color: #FD5D5D; margin: 0 auto;" mat-button (click)="login()">LOGIN</button>
            </mat-card-actions>
          </mat-card>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>
