.center-content {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 100vh; /* Esto asegura que el contenedor ocupe toda la altura de la ventana. */
}

