<mat-drawer-container>
  <mat-drawer mode="side" opened="true">
    <app-sidebar-doctor></app-sidebar-doctor>
  </mat-drawer>
  <mat-drawer-content>
    <div class="container" fxLayout="column" fxLayoutAlign="center center">
      <mat-card class="example-card" >
        <mat-card-header>
          <mat-card-title>{{new.title}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="new.image" alt="Photo of news">
        <mat-card-content  fxLayout="column" fxLayoutAlign="center center">
          <p>
            {{new.info}}
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
