<div class="center-content">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Change Password</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-tab-group>
        <mat-tab label="Change Password">
          <mat-form-field class="example-full-width">
            <mat-label>Enter your Email</mat-label>
            <input type="email" matInput placeholder="Email" value="" [(ngModel)]="patient.email" required/>
            <mat-error *ngIf="email.errors?.['required']">
              Email is required
            </mat-error>
            <mat-error *ngIf="email.errors?.['minlength']">
              You must enter a correct Email
            </mat-error>
            <mat-icon matSuffix>badge</mat-icon>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>New Password</mat-label>
            <input type="password" matInput placeholder="Password" [(ngModel)]="patient.password" required/>
            <mat-error *ngIf="password.errors?.['required']">
              Password is required
            </mat-error>
            <mat-error *ngIf="changePasswordForm.get('password')?.hasError('minLength') && changePasswordForm.get('password')?.touched">
              Password must be at least 8 characters length
            </mat-error>
            <mat-icon matSuffix>vpn_key</mat-icon>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input type="password" matInput placeholder="Repeat Password" [(ngModel)]="patient.password" required/>
            <mat-error *ngIf="password.errors?.['required']">
              Repeat Password is required
            </mat-error>
            <mat-error *ngIf="changePasswordForm.get('repeat_password')?.hasError('minLength') && changePasswordForm.get('repeat_password')?.touched">
              Password must be at least 8 characters length
            </mat-error>
            <mat-icon matSuffix>vpn_key</mat-icon>
          </mat-form-field>

          <button mat-button color="primary" (click)="save()">Save</button>

        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>
