<div class="container">
  <h1>Medical History</h1>

  <div class="container_info">
    <div class="container_title">
      <h1>General Information</h1>
      <button
        mat-raised-button
        color="primary"
        routerLink="/new-medical-history"
      >
        Add Medical History
      </button>
    </div>
    <div class="container_user">
      <img
        src="https://img.freepik.com/free-photo/pleased-young-female-doctor-wearing-medical-robe-stethoscope-around-neck-standing-with-closed-posture_409827-254.jpg"
        alt="Angela Martinez"
      />
      <div class="basic_info">
        <h1>Lisa Brinco</h1>
        <div class="basic_data">
          <span><strong>Height</strong>: 1.80m</span>
        </div>
        <div class="basic_data">
          <span><strong>Weight</strong>: 70kg</span>
        </div>
        <div class="basic_data">
          <span><strong>Body mass</strong>: 32 IMC</span>
        </div>
      </div>
    </div>
    <div class="history"></div>
  </div>
</div>
