<header style="background: #9494c2; height: 60px"></header>

<div class="container">
  <h1>Medical History</h1>

  <div class="container_info">
    <h1>General Information</h1>
    <div class="container_user">
      <img
        src="https://img.freepik.com/free-photo/pleased-young-female-doctor-wearing-medical-robe-stethoscope-around-neck-standing-with-closed-posture_409827-254.jpg"
        alt="Angela Martinez"
      />
      <div class="basic_info">
        <h1>Lisa Brinco</h1>
        <div class="basic_data">
          <span><strong>Height</strong>: 1.80m</span>
        </div>
        <div class="basic_data">
          <span><strong>Weight</strong>: 70kg</span>
        </div>
        <div class="basic_data">
          <span><strong>Body mass</strong>: 32 IMC</span>
        </div>
      </div>
    </div>
    <div class="history_allergy">
      <div>
        <h4>Allergies</h4>
        <ul>
          <li>Peanut</li>
          <li>Cat</li>
          <li>Dog</li>
        </ul>
      </div>
      <br />
      <div>
        <h4>Pathological history</h4>
        <ul>
          <li>Peanut</li>
          <li>Cat</li>
          <li>Dog</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<header style="background: #6c6b6b; height: 60px"></header>
