<header style="background: #9494c2; height: 60px"></header>

<div class="container">
  <h1>Doctor Profile</h1>

  <div class="container_info">
    <div class="info_top">
      <img
        src="https://img.freepik.com/free-photo/pleased-young-female-doctor-wearing-medical-robe-stethoscope-around-neck-standing-with-closed-posture_409827-254.jpg"
        alt="Angela Martinez"
      />
      <div class="doctor-info">
        <h1>Angela Martinez</h1>
        <h3>Dentist</h3>
      </div>
      <div class="doctor-appointment">
        <button mat-raised-button color="primary">Appointment</button>
      </div>
    </div>
    <div class="container_description">
      <div class="experience">
        <div class="experience_data">
          <h3>Patients</h3>
          <p>250+</p>
        </div>
        <div class="experience_data">
          <h3>Years of experience</h3>
          <p>5+</p>
        </div>
        <div class="experience_data">
          <h3>Consult</h3>
          <p>S/ 40.00</p>
        </div>
        <div class="experience_data">
          <h3>Age</h3>
          <p>20</p>
        </div>
      </div>
      <div class="education">
        <h3>Education</h3>
        <ul>
          <li>Bachiller en Medicina UPC</li>
          <li>Bachiller en Medicina San Marcos</li>
        </ul>
      </div>

    </div>
    <br>
    <button mat-raised-button color="primary" routerLink="/reviews">View Review</button>
  </div>
</div>

<header style="background: #6c6b6b; height: 60px"></header>
