<div class="center-content">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>Welcome to MediCare</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-tab-group>
        <mat-tab label="Login">
          <form (submit)="login()" [formGroup]="loginInForm" class="form-row">
            <mat-form-field class="example-full-width">
              <mat-label>Email</mat-label>
              <input
                type="string"
                matInput
                placeholder="Email"
                formControlName="email"
                required
              />
              <mat-error *ngIf="loemail.errors?.['required']">
                Email is required
              </mat-error>
              <mat-error *ngIf="email.errors?.['minlength']">
                You must enter a correct Email
              </mat-error>
              <mat-icon matSuffix>badge</mat-icon>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>Password</mat-label>
              <input
                type="password"
                matInput
                placeholder="Password"
                formControlName="password"
                required
              />
              <mat-error *ngIf="lopassword.errors?.['required']">
                Password is required
              </mat-error>
              <mat-error
                *ngIf="
                  loginInForm.get('password')?.hasError('minLength') &&
                  loginInForm.get('password')?.touched
                "
              >
                Password must be at least 8 characters length
              </mat-error>
              <mat-icon matSuffix>vpn_key</mat-icon>
            </mat-form-field>
            <button mat-button color="primary" (click)="login()">Log In</button>
            <button mat-button color="primary" (click)="forgot_password()">
              Forgot Password
            </button>
          </form>
        </mat-tab>
        <mat-tab label="Register">
          <form (submit)="signUp()" [formGroup]="signUpForm" class="form-row">
            <mat-form-field class="example-full-width">
              <mat-label>Name</mat-label>
              <input
                type="string"
                matInput
                placeholder="Name"
                formControlName="name"
                required
              />
              <mat-error *ngIf="name.errors?.['required']">
                Name is required
              </mat-error>
              <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>Lastname</mat-label>
              <input
                type="string"
                matInput
                placeholder="Lastname"
                formControlName="lastName"
                required
              />
              <mat-error *ngIf="lastName.errors?.['required']">
                LastName is required
              </mat-error>
              <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>Speciality</mat-label>
              <input
                type="text"
                matInput
                placeholder="Specialty"
                formControlName="speciality"
                required
              />
              <mat-error *ngIf="speciality.errors?.['required']">
                Speciality is required
              </mat-error>
              <mat-icon matSuffix>call</mat-icon>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>Email</mat-label>
              <input
                type="email"
                matInput
                placeholder="Email"
                formControlName="email"
                required
              />
              <mat-error *ngIf="email.errors?.['required']">
                Email is required
              </mat-error>
              <mat-icon matSuffix>mail</mat-icon>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>Password</mat-label>
              <input
                type="password"
                matInput
                placeholder="Password"
                formControlName="password"
                required
              />
              <mat-error *ngIf="password.errors?.['required']">
                Password is required
              </mat-error>
              <mat-icon matSuffix>vpn_key</mat-icon>
            </mat-form-field>

            <button mat-button color="primary" (click)="signUp()">
              Register
            </button>
          </form>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>
