<mat-card class="appointment-container">
  <h2>Appointment width {{ doctor?.name }}</h2>

  <form [formGroup]="appointmentForm" (ngSubmit)="submitappointment()">
    <mat-form-field class="example-full-width">
      <mat-label>Choose Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date" />
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker">
        <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
      </mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Confirm</button>
  </form>
</mat-card>
