<mat-card class="appointment-container">
  <h2>Solicitar Cita</h2>

  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Selecciona el día" [(ngModel)]="selectedDate">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Hora</mat-label>
    <input matTimepicker>
    <mat-icon matSuffix>access_time</mat-icon>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Doctor</mat-label>
    <mat-select [(ngModel)]="selectedDoctor">
      <mat-option *ngFor="let doctor of doctors" [value]="doctor.id">{{ doctor.name }}</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="button-container">
    <button mat-raised-button color="primary" (click)="goToPayment()">Ir a pagar</button>
  </div>
</mat-card>
