<div class="container">
  <h1>Welcome Patient</h1>
  <div class="main-container">
    <h2>What do you need today?</h2>
    <div class="options">
      <div class="option-container">
        <a routerLink="/doctors">
          <img src="assets/images/enfermera.png" alt="doctors" />
          <p>Doctors</p>
        </a>
      </div>
      <div class="option-container">
        <a routerLink="/medical-history">
          <img src="assets/images/historial-medico.png" alt="medical history" />
          <p>Medical History</p>
        </a>
      </div>
      <div class="option-container">
        <a routerLink="/prescription">
          <img src="assets/images/prescriptions.png" alt="prescription" />
          <p>Prescription</p>
        </a>
      </div>
    </div>
  </div>
</div>
