<div class="profile-container">
  <div class="profile-header">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSugMiP022tSCh_yvyU8S4ghm05imJepNLJNA&usqp=CAU" alt="Foto del paciente">
    <h2>Fecha de Nacimiento: FECHA_DE_NACIMIENTO</h2>
    <h2>Celular: CELULAR</h2>
    <h2>Correo: CORREO</h2>
    <button mat-raised-button color="primary" routerLink="/edit-profile">Editar Perfil</button>
  </div>
  <div class="profile-nav">
    <button mat-raised-button color="primary">
      Prescriptions
      <br>
      Check all your medications</button>
    <button mat-raised-button color="primary">Medical History
      <br>
      Check all your medications</button>
    <button mat-raised-button color="primary">Personal Information
      <br>
      Check all your medications</button>
  </div>
</div>
